#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #000;
    opacity: 0.9;
    visibility: hidden;
}

#recognized {
    margin-top: 20%;
    text-align: center;
    display: block;
    font-size: 20px;
    color: #fff;
    visibility: hidden;
}

#recognize {
    margin-top: 54%;
    z-index: 2;
    position: relative;
    width: 80px;
    margin-left: 48%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}